.box{
  border:10px solid black;
  width:500px;


}



.item-img {
  width:400px;
}

.main{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  margin-top: 70px;
}

.text{
  height: fit-content;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.button{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  margin-top: 20px;
}

.WIN {  border: 10px solid green;  color: green; }
.LOSE {  border: 10px solid red;  color: red; }
.DRAW {  border: 10px solid black;  color: black; }

@media (max-width:884px){
  .box{
    border:10px solid black;
    width:100vh;
  }
  .item-img {
    width:100px;
  }
  .main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 70px;
  }

  /* .media {
    display:flex;
    flex-direction: row;
  } */


}